@import '~themes/variable.less';

.transaction-detail-wrapper {
  padding: 20px;
  overflow: hidden;
  background: @content-background;
  .transaction-detail-title {
    padding-left: 10px;
    border-left: 10px solid @primary-border-color;
  }
  .transaction-detail-content {
    width: 100%;
    .transactionInfoWrap {
      width: 65%;
      padding: 0 30px;
      font-size: 12px;
      .gutter-row-label {
        color: @second-level-color;
        text-align: right;
      }
      .gutter-row-content {
        line-height: 1.5;
        word-break: break-all;
      }
    }
  }
}
