@import '~themes/variable.less';

.network-topo-wrapper {
  width: 100%;
  height: 900px;
  margin-bottom: 20px;
  padding: 20px;
  overflow: hidden;
  background: @content-background;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  .network-topo-title {
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
  }
}

.network-topo-bar-wrapper {
  width: 100%;
  padding: 20px;
  background: @content-background;
  .network-topo-bar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    .title {
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.channel-basic-info {
  margin-bottom: 20px;
  padding: 20px;
  background: @content-background;
  border: 1px solid @default-border-color;
  h2 {
    flex: auto;
    margin-bottom: 20px;
    overflow: hidden;
    color: @black_85;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5715;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  button {
    height: 28px;
    padding: 0 15px;
  }

  :global {
    .ant-col {
      border-right: 1px solid @default-divider-background;
    }
    .ant-col:last-child {
      border-right: none;
    }
    .ant-statistic-title {
      margin-bottom: 15px;
      font-size: 14px;
      font-style: normal;
      line-height: 1em;
    }
  }
}
