.fileManageWrap {
  min-height: 100%;
  font-size: 14px;

  .rightContent {
    height: calc(100vh - 24px);
    border-radius: 2px;
  }

  :global {
    .ant-row {
      height: 100%;
    }
    textarea {
      height: calc(100vh - 80px) !important;
    }
    .ant-tabs-nav-add {
      display: none;
    }
  }
}
