@import '~themes/variable.less';

.block-detail-wrapper {
  margin-bottom: 20px;
  padding: 20px 24px;
  background: @content-background;
  border-radius: 4px;
  .block-detail-title {
    display: flex;
    align-items: center;
    .title-dot {
      width: 0.5625rem;
      height: 0.5625rem;
      margin-right: 0.5625rem;
      margin-left: 0.28125rem;
      background: @default-background;
      border-radius: 50%;
    }
  }
  .block-detail-content {
    padding: 16px 0;
    .blockInfoWrap {
      width: 100%;
      margin-top: 10px;
      padding: 50px 20px 0;
      overflow: hidden;
      font-size: 12px;
      border-top: 2px solid @default-background;
      border-radius: 0 0 4px 4px;
      .gutter-row-label {
        color: @second-level-color;
        text-align: right;
      }
      .gutter-row-content {
        line-height: 1.5;
        word-break: break-all;
      }
    }
  }
}
