@import '~themes/variable.less';

.header {
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background: @layout-top-background;
  .logo-sub {
    color: @first-level-color;
    font-size: 16px;
    img {
      height: 48px;
    }
  }
}
