@import '~themes/variable.less';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 0 35px 0 14px;
  color: @default-font-color;
  line-height: 50px;
  background: @layout-top-background;
  .logo-sub {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 16px;
    font-size: 16px;
    img {
      height: 24px;
      margin-right: 14px;
      margin-left: 3px;
    }
  }
  .divider-span {
    display: inline-block;
    width: 0.1rem;
    height: 22px;
    background: @black_1;
  }
  .header-left-wrapper,
  .header-right-wrapper {
    display: flex;
    align-items: center;
  }
  .header-menu-item {
    margin-left: 16px;
    padding-top: 4px;
    color: @second-white-font;
    font-size: 14px;
    cursor: pointer;
    span {
      padding-left: 4px;
    }
    &.active {
      color: @default-font-color;
    }
  }
  .header-menu-item:hover {
    color: @default-font-color;
  }
  :global {
    .ant-dropdown-link {
      margin-left: 28px;
      color: @second-white-font;
      line-height: 54px;
    }
    .ant-dropdown-link:hover {
      color: @default-font-color;
    }
  }
}
@media screen and (min-width: 2400px) {
  .header {
    height: 64px;
    line-height: 64px;
    .logo-sub {
      height: 100%;
      line-height: 64px;
      img {
        height: 30px;
        margin-right: 8px;
        margin-left: 0;
      }
    }
  }
}
