.main {
  margin: 0 auto;
  h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
  }
  .other {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    line-height: 22px;

    .register {
      margin-left: 12px;
    }
  }
}
