@import '~themes/variable.less';

.did-query-verify {
  min-height: calc(~'100% - 72px');
  padding: 20px 24px;
  text-align: center;
  background-color: @content-background;
  h3 {
    margin: 28px 0;
  }
  .did-detail {
    margin-top: 64px;
    text-align: left;
  }
  :global {
    .ant-input-group-wrapper {
      width: 50%;
    }
  }
}
