@import '~themes/variable.less';

.services-drawer {
  .left-service-wrapper {
    width: 188px;
    padding-right: 16px;
    border-right: 1px solid @dark-border-color;
    .current-service {
      margin: 12px 0;
      padding: 8px 16px;
      width: 100%;
      color: @primary-border-color;
      background-color: @menu-background;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .right-service-wrapper {
    flex: 1 1;
    padding-left: 32px;
  }

  .service-wrapper {
    display: flex;
  }

  :global {
    .ant-menu {
      // height: 100%;
      background: transparent;
    }
  }
}
