@import '~themes/variable.less';

.detail-card-wrapper {
  margin-bottom: 20px;
  padding: 20px 24px;
  background: @content-background;
  border-radius: 4px;
  .detail-card-title {
    margin-bottom: 20px;
    padding-bottom: 16px;
    text-align: left;
    border-bottom: 1px solid @default-divider-background;
    .detail-title-border {
      display: inline-block;
      width: 3px;
      height: 12px;
      margin-right: 5px;
      background: @primary-border-color;
    }
    .detail-title-content {
      display: inline-block;
      font-weight: 800;
    }
  }
  .detail-info-wrapper {
    .detail-info-item {
      display: flex;
      align-items: flex-start;
      font-size: 12px;
      label {
        width: 30%;
        padding-right: 20px;
        color: #888;
        line-height: 32px;
        text-align: right;
      }
      div {
        padding: 8px 0;
        color: #666;
        line-height: 1.5;
        vertical-align: middle;
        word-break: break-all;
        user-select: text;
      }
    }
  }
}
