@import '~themes/variable.less';

.package-wrapper {
  text-align: center;
}

.jobListMore {
  width: 44px;
  height: 24px;
  margin: 0 auto;

  .btn {
    color: @blue-11;
    background-color: @content-background;
    border: none;
  }
}
