@import '~themes/variable.less';

.package-wrapper {
  text-align: center;
}

.jobListMore {
  width: 68px;
  height: 44px;
  margin: 0 auto;
  line-height: 62px;

  .btn {
    color: @blue-11;
    background-color: @content-background;
    border: none;
  }
}
