@import '~themes/variable.less';
@import '~antd/es/style/themes/default.less';

.main {
  margin: 0 auto;
  h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
  }
<<<<<<< HEAD

  .submit {
    width: 100%;
  }

=======
  .prefixIcon {
    color: #177ddc;
    font-size: @font-size-base;
  }
  .submit {
    width: 100%;
  }
>>>>>>> c4fde80... feat:art:buaa private deployment envs
  .other {
    margin-top: 24px;
    color: @second-level-color;
    line-height: 22px;

    .register {
      margin-left: 12px;
    }
  }
}
