@import '~themes/variable.less';
@import '~antd/es/style/themes/default.less';
.main {
  height: 100%;
  padding: 30px 80px;
  overflow-y: auto;
  background-color: @wrapper-background;
  .page-title-wrapper {
    height: 100px;
    margin-bottom: 16px;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
    line-height: 100px;
    background-color: #247fff;
    background-image: url(https://gw.alipayobjects.com/mdn/Baas/afts/img/A*P_l8QJN_wQ8AAAAAAAAAAABkARQnAQ);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
  }
  .league-wrapper {
    .newButton {
      width: 100%;
      height: 120px;
      color: @text-color-secondary;
      font-size: 20px;
      background-color: @component-background;
      border-color: @black_01;
    }
    .newButton:hover {
      color: @primary-color;
      border-color: @primary-color;
    }

    .league-card {
      height: 120px;
      margin-bottom: 20px;
      color: @first-level-color;
      background: @component-background;
      border: 1px solid @black_01;
      border-radius: 2px;
      cursor: pointer;
      transition: box-shadow 0.3s, border-color 0.3s;
      transition: all 0.3s;
      .card-header {
        display: flex;
        flex-direction: row;
        padding: 12px 16px;
        .icon {
          display: flex;
          flex-basis: 22px;
          align-items: center;
          justify-content: center;
          height: 22px;
          margin-right: 8px;
          color: @first-level-color;
          font-size: 24px;
          -ms-flex-pack: center;
          -ms-flex-align: center;
          -ms-flex-preferred-size: 22px;
        }
        .league-name {
          display: inline-block;
          flex-basis: 60%;
          overflow: hidden;
          color: @first-level-color;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .card-content {
        padding: 3px 20px;
        overflow: hidden;
        color: @third-level-color;
        font-size: 12px;
        .description-item {
          display: flex;
          align-items: flex-start;
          label {
            min-width: 60px;
          }
          .league-description {
            display: -webkit-box;
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }
    }

    .league-card:hover {
      border-color: transparent;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.12),
        0 5px 12px 4px rgba(0, 0, 0, 0.09);
    }
  }
}
