@import '~themes/variable.less';

.main-container {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  .section-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    .section-common-wrapper {
      display: flex;
      flex-flow: wrap;
      padding: 0 30px;
      .login-mode {
        flex: 1;
        flex-wrap: wrap;
        margin: auto;
        .login-dec-01,
        .login-dec-02 {
          color: @default-font-color;
          text-align: center;
        }
        .login-dec-01 {
          span {
            display: inline-block;
            padding-bottom: 24px;
            font-size: 40px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
          }
        }
        .login-dec-02 {
          font-size: 78px;
        }
      }
    }
    .user-mode {
      width: 420px;
      padding: 40px 40px;
      background: @menu-background;
      border-radius: 20px;
    }
  }
}
