@import '~themes/variable.less';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background: @layout-bottom-background;
  .copyright {
    font-size: 16px;
    color: @third-level-color;
  }
}