.message-detail-wrapper {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
  border-radius: 4px;
  background: #fff;
  li, ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .message-content-wrapper {
    margin: 40px 30%;
    .message-title {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding-bottom: 20px;
    }
    .message-content {
      text-indent: 2em;
      word-break: break-word;
    }
  }
}